.holder{
	height:100vw;
	width:100vw;
	 display: flex;
  justify-content: center; 
  align-items: center;     
}
.item-1{
	display:flex;
	flex-wrap:center;
	background-color:red;
	height:100px;
	width:100px;
	
}
/* Your CSS Code here. */